div#nav_menu_bar {
	border-bottom:#888888 solid 1px;
}

ul.nav {
	font-size:large;
	list-style:none;
	margin:0 12px;
}

ul.nav li {
	background-color:#CCCCCC;
	float:left;
	border:#888888 solid 1px;
	cursor:default;
	text-decoration:none;
	margin:0;
}

ul.tab li {
	border-bottom-style:none;
	margin:0 3px 0 0;
}

ul.nav li.selected {
	background-color:#AAAAAA;
	padding:5px;
	font-weight: bold;
}

ul.tab li.selected {
	padding:20px;
}

ul.nav li:not(.selected):hover {
	background-color:#DDDDDD;
	/*cursor:pointer;*/
}

ul.nav li a {
	color: #003d4c;
	display:block;
	text-decoration:none;
	font-weight: bold;
	padding:5px;
}

ul.nav li a:hover {
	color: #367889;
}

ul.tab li a {
	padding:20px;
}

div#year_selector {
	float:right;
}

div#month_selector {
	float:right;
}
