table.transaction
{
	border-collapse:collapse;
	margin-top:0.5em;
}

table.transaction tr td
{
    padding: 6px;
    text-align: left;
    vertical-align: top;
}

table.transaction tr.altrow td
{
	background-color:#EEEEEE;
}

table.transaction tr th
{
	border:1px solid #444444;
	padding:4px;
}

table.transaction tr.transaction_upper th
{
	border-bottom:1px solid #BBBBBB;
}

table.transaction tr td.transaction
{
	border:1px solid #555555;
}

table.transaction tr.transaction_upper td
{
	border-bottom:1px solid #DDDDDD;
}

table.transaction tr td.transaction_noborder
{
	border:none;
}

table.transaction tr td.transaction_date
{
	border-bottom:1px solid #555555;
}

table.transaction tr td.payee
{
	width:50%;
}

table.transaction tr td.status
{
	width:1%;
}
